
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card text-center" style="margin-top: 20px">
        <div class="card-body">
          <a routerLink="user" class="btn btn-primary">Search User</a>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-6">
      <div class="card text-center" style="margin-top: 20px">
        <div class="card-body">
          <a routerLink="organization" class="btn btn-primary">Search Organisation</a>
        </div>
      </div>
    </div>
  </div>
</div>
